# Assignment 03

# Problem Statement :: Descriptive Statistics - Measures of Central Tendency and variability
Perform the following operations on any open source dataset (e.g., data.csv)
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.
2. Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris- versicolor’ of iris.csv dataset.
Provide the codes with outputs and explain everything that you do in this step.

#Import pandas

In [ ]:
#Dataset : "/content/Iris.csv"

#read Iris csv file

In [ ]:
import pandas as pd
from sklearn import preprocessing
import numpy as np
import statistics
df = pd.read_csv("/content/Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
#checking that categorical data in the dataset
df.select_dtypes(include='object')

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [ ]:
#converting categorical data into numerical data
encoder = preprocessing.LabelEncoder()
df["Species"]=encoder.fit_transform(df["Species"])
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [ ]:
#using groupby function to group data
data = df.groupby(["Species"])
data.groups.keys()  #checking how many groups are formed

dict_keys([0, 1, 2])

In [ ]:
df.groupby(["Species"])["SepalWidthCm"].std()

Species
0    0.381024
1    0.313798
2    0.322497
Name: SepalWidthCm, dtype: float64

In [ ]:
df.groupby(["Species"])["SepalWidthCm"].mean()

Species
0    3.418
1    2.770
2    2.974
Name: SepalWidthCm, dtype: float64

In [ ]:
df.groupby(["Species"])["SepalWidthCm"].min()

Species
0    2.3
1    2.0
2    2.2
Name: SepalWidthCm, dtype: float64

In [ ]:
df.groupby(["Species"])["SepalWidthCm"].max()

Species
0    4.4
1    3.4
2    3.8
Name: SepalWidthCm, dtype: float64

In [ ]:
df.groupby(["Species"])["SepalWidthCm"].var()

Species
0    0.145180
1    0.098469
2    0.104004
Name: SepalWidthCm, dtype: float64

In [ ]:
df.groupby(["Species"])["SepalWidthCm"].std()

Species
0    0.381024
1    0.313798
2    0.322497
Name: SepalWidthCm, dtype: float64

In [ ]:

df.groupby(["Species"])["SepalWidthCm"].apply(statistics.mode)

Species
0    3.4
1    3.0
2    3.0
Name: SepalWidthCm, dtype: float64

In [ ]:
data = df.groupby(["Species"])
data.agg([np.sum, np.mean, np.max])

C:\Users\Dell\AppData\Local\Temp\ipykernel_18792\2973700478.py:2: FutureWarning: The provided callable <function sum at 0x000001FBCD3E24D0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data.agg([np.sum, np.mean, np.max])
C:\Users\Dell\AppData\Local\Temp\ipykernel_18792\2973700478.py:2: FutureWarning: The provided callable <function mean at 0x000001FBCD3E3400> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  data.agg([np.sum, np.mean, np.max])
C:\Users\Dell\AppData\Local\Temp\ipykernel_18792\2973700478.py:2: FutureWarning: The provided callable <function max at 0x000001FBCD3E2B00> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  data.agg([np.sum, np.mean, np.max])

           Id             SepalLengthCm             SepalWidthCm              \
          sum   mean  max           sum   mean  max          sum   mean  max
Species
0        1275   25.5   50         250.3  5.006  5.8        170.9  3.418  4.4
1        3775   75.5  100         296.8  5.936  7.0        138.5  2.770  3.4
2        6275  125.5  150         329.4  6.588  7.9        148.7  2.974  3.8

        PetalLengthCm             PetalWidthCm
                  sum   mean  max          sum   mean  max
Species
0                73.2  1.464  1.9         12.2  0.244  0.6
1               213.0  4.260  5.1         66.3  1.326  1.8
2               277.6  5.552  6.9        101.3  2.026  2.5

In [ ]:
df.groupby(["Species"])["SepalWidthCm"].agg(pd.Series.mode)

Species
0    3.4
1    3.0
2    3.0
Name: SepalWidthCm, dtype: float64